p{
text-align: right;
color: rgb(81, 14, 205);
}
body{
    background-color: rgb(197, 90, 255);
    opacity: 0.9;
}
div {
  border: 1px solid black;
  /* margin: 100px 100px 75px 100px; */
  background-color: lightblue;
}